bin/
obj/
Properties/
Output/Assembly-CSharp-firstpass.dll
Output/Assembly-CSharp.dll
Output/Cinemachine.dll
Output/HtuSegaCustomAttributeAccessor.dll
Output/Iced.dll
Output/Il2CppMono.Security.dll
Output/Il2Cppmscorlib.dll
Output/Il2CppSystem.Configuration.dll
Output/Il2CppSystem.Core.dll
Output/Il2CppSystem.dll
Output/Il2CppSystem.Runtime.Serialization.dll
Output/Il2CppSystem.Xml.dll
Output/Il2CppSystem.Xml.Linq.dll
Output/Microsoft.Bcl.AsyncInterfaces.dll
Output/Mono.Posix.dll
Output/Mono.Security.dll
Output/netstandard.dll
Output/UI Enhancements.pdb
Output/UnhollowerBaseLib.dll
Output/UnhollowerRuntimeLib.dll
Output/Unity.InputSystem.dll
Output/Unity.Mathematics.dll
Output/Unity.Postprocessing.Runtime.dll
Output/Unity.TextMeshPro.dll
Output/Unity.Timeline.dll
Output/UnityEngine.AIModule.dll
Output/UnityEngine.AndroidJNIModule.dll
Output/UnityEngine.AnimationModule.dll
Output/UnityEngine.AssetBundleModule.dll
Output/UnityEngine.AudioModule.dll
Output/UnityEngine.CoreModule.dll
Output/UnityEngine.DirectorModule.dll
Output/UnityEngine.dll
Output/UnityEngine.GridModule.dll
Output/UnityEngine.ImageConversionModule.dll
Output/UnityEngine.IMGUIModule.dll
Output/UnityEngine.InputLegacyModule.dll
Output/UnityEngine.InputModule.dll
Output/UnityEngine.JSONSerializeModule.dll
Output/UnityEngine.ParticleSystemModule.dll
Output/UnityEngine.PerformanceReportingModule.dll
Output/UnityEngine.Physics2DModule.dll
Output/UnityEngine.PhysicsModule.dll
Output/UnityEngine.SharedInternalsModule.dll
Output/UnityEngine.SpriteShapeModule.dll
Output/UnityEngine.SubsystemsModule.dll
Output/UnityEngine.TerrainModule.dll
Output/UnityEngine.TextCoreModule.dll
Output/UnityEngine.TextRenderingModule.dll
Output/UnityEngine.TilemapModule.dll
Output/UnityEngine.UI.dll
Output/UnityEngine.UIElementsNativeModule.dll
Output/UnityEngine.UIModule.dll
Output/UnityEngine.UnityAnalyticsModule.dll
Output/UnityEngine.UnityWebRequestModule.dll
Output/UnityEngine.VFXModule.dll
Output/UnityEngine.VideoModule.dll
Output/UnityEngine.VRModule.dll
Output/UnityEngine.XRModule.dll
